{% extends "base.html" %}

{% block head_title %} {{ title }} {% endblock %}

{% block main_title %} {{ title }} {% endblock %}

{% block main_body %}

    <hr>

    {% if blogs|length > 0 %}

        <div class="blogs-wrapper">
            {% for blog in blogs %}
                <div class="blog">
                    <a href="{% url 'blog' blog.slug %}">
                        <strong>{{ blog.name}} ({{ blog.author.first_name }} {{ blog.author.last_name }})</strong>
                    </a>
                </div>
            {% endfor %}
        </div>

        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item {% if not blogs.has_previous %} disabled {% endif %}">
                    {% if blogs.has_previous %}
                        <a class="page-link" href="?page=1"> << </a>
                    {% else %}
                        <span class="page-link"> << </span>
                    {% endif %}
                </li>
                <li class="page-item {% if not blogs.has_previous %} disabled {% endif %}">
                    {% if blogs.has_previous %}
                        <a class="page-link" href="?page={{ blogs.previous_page_number }}"> < </a>
                    {% else %}
                        <span class="page-link"> < </span>
                    {% endif %}
                </li>
                <li class="page-item disabled">
                    <span class="page-link">
                        Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}
                    </span>
                </li>
                <li class="page-item {% if not blogs.has_next %} disabled {% endif %}">
                    {% if blogs.has_next %}
                        <a class="page-link" href="?page={{ blogs.next_page_number }}"> > </a>
                    {% else %}
                        <span class="page-link"> > </span>
                    {% endif %}
                </li>
                <li class="page-item {% if not blogs.has_next %} disabled {% endif %}">
                    <a class="page-link" href="?page={{ blogs.paginator.num_pages }}"> >> </a>
                </li>
            </ul>
        </nav>

    {% else %}

        <h4>No blogs yet...</h4>

    {% endif %}

{%  endblock %}
