{% extends "base.html" %}

{% block head_title %} {{ title }} {% endblock %}

{% block main_title %} {{ title }} {% endblock %}

{% block main_body %}

    {% if blogs|length > 0 %}

        <div class="blogs-wrapper">
            {% for blog in blogs %}
                <div class="blog card">
                    <div class="card-body">
                        <div>
                            <h5>
                                <a href="{% url 'blog' blog.slug %}">{{ blog.name}}</a>
                            </h5>
                        </div>
                        <hr>
                        <div class="blog-description">
                            {{ blog.description }}
                        </div>
                        <div class="blog-author">
                             Created by {{ blog.author.first_name }} {{ blog.author.last_name }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr>

        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item {% if not blogs.has_previous %} disabled {% endif %}">
                    {% if blogs.has_previous %}
                        <a class="page-link" href="?page=1"> << </a>
                    {% else %}
                        <span class="page-link"> << </span>
                    {% endif %}
                </li>
                <li class="page-item {% if not blogs.has_previous %} disabled {% endif %}">
                    {% if blogs.has_previous %}
                        <a class="page-link" href="?page={{ blogs.previous_page_number }}"> < </a>
                    {% else %}
                        <span class="page-link"> < </span>
                    {% endif %}
                </li>
                <li class="page-item disabled">
                    <span class="page-link">
                        Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}
                    </span>
                </li>
                <li class="page-item {% if not blogs.has_next %} disabled {% endif %}">
                    {% if blogs.has_next %}
                        <a class="page-link" href="?page={{ blogs.next_page_number }}"> > </a>
                    {% else %}
                        <span class="page-link"> > </span>
                    {% endif %}
                </li>
                <li class="page-item {% if not blogs.has_next %} disabled {% endif %}">
                    <a class="page-link" href="?page={{ blogs.paginator.num_pages }}"> >> </a>
                </li>
            </ul>
        </nav>

    {% else %}

        <div class="card">
            <div class="card-body">
                <h5>No blogs yet...</h5>
            </div>
        </div>

    {% endif %}

{%  endblock %}
