{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head_title %} Sign up {% endblock %}

{% block main_title %} Sign up {% endblock %}

{% block main_body %}

    <form method="POST" novalidate>
        {%  csrf_token %}

        <div class="card">
            <div class="card-body">
                <div class="signup-form-wrapper">
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </div>
            </div>
        </div>
    </form>

{%  endblock %}
