{% extends "base.html" %}

{% block head_title %} User List {% endblock %}

{% block main_title %} User List {% endblock %}

{% block main_body %}

    <div class="users-wrapper">
        {% for user in users %}
            <div class="user card">
                <div class="card-body">
                    <a href="{%  url 'user-blogs' user.username %}">
                        <strong>{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</strong>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <hr>

    {% include "pagination.html" with items=users %}

{%  endblock %}
