{% extends "base.html" %}

{% block head_title %} User List {% endblock %}

{% block main_title %} User List {% endblock %}

{% block main_body %}

    <hr>

    <div class="blogs-wrapper">
        {% for user in users %}
            <div class="user">
                <a href="{%  url 'user-blogs' user.username %}" class="blog">
                    <strong>{{ user.first_name }} {{ user.first_name }} ({{ user.username }})</strong>
                </a>
            </div>
        {% endfor %}
    </div>

    <hr>

        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item {% if not users.has_previous %} disabled {% endif %}">
                    {% if users.has_previous %}
                        <a class="page-link" href="?page=1"> << </a>
                    {% else %}
                        <span class="page-link"> << </span>
                    {% endif %}
                </li>
                <li class="page-item {% if not users.has_previous %} disabled {% endif %}">
                    {% if users.has_previous %}
                        <a class="page-link" href="?page={{ users.previous_page_number }}"> < </a>
                    {% else %}
                        <span class="page-link"> < </span>
                    {% endif %}
                </li>
                <li class="page-item disabled">
                    <span class="page-link">
                        Page {{ users.number }} of {{ users.paginator.num_pages }}
                    </span>
                </li>
                <li class="page-item {% if not users.has_next %} disabled {% endif %}">
                    {% if users.has_next %}
                        <a class="page-link" href="?page={{ users.next_page_number }}"> > </a>
                    {% else %}
                        <span class="page-link"> > </span>
                    {% endif %}
                </li>
                <li class="page-item {% if not users.has_next %} disabled {% endif %}">
                    <a class="page-link" href="?page={{ users.paginator.num_pages }}"> >> </a>
                </li>
            </ul>
        </nav>

{%  endblock %}
