{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head_title %} New Post {% endblock %}

{% block main_title %} New Post {% endblock %}

{% block main_body %}
    <form method="post" novalidate enctype="multipart/form-data">
        {% csrf_token %}

            <div class="card">
                <div class="card-body">
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Create post</button>
                </div>
            </div>
    </form>
{% endblock %}