{% extends "base.html" %}

{% block main_title %} {{ title }} {% endblock %}

{% block main_body %}

    {% if categories %}
        <div class="card filters">
            <div class="card-header">
                <h5>Filters</h5>
            </div>
            <div class="card-body">

                <form class="form-inline">
                    <div class="form-group row">
                        <label class="col-3 col-form-label" for="categories">Category</label>
                        <div class="col-7">
                            <select name="categories" id="select-categories" class="form-control">
                                <option value="0" {% if cat_selected is None %} selected {% endif %}>ALL</option>
                                {% for category in categories %}
                                    <option value="{{ category.pk }}"
                                        {% if category.pk == cat_selected %} selected {% endif %}
                                    >{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-primary">Filter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <h4 class="bg-dark">Post List</h4>

    {% endif %}

    {% if posts|length > 0 %}

        <div>
            {% for post in posts %}
                <div class="post card">
                    <div class="card-header">
                        <h5><a href="{% url 'post-detail' post.blog.slug post.pk %}">
                            {{ post.title }}
                        </a></h5>
                    </div>
                    <div class="card-body">
                        <div class="post-content-wrapper list">
                            {%  if post.image %}
                                <a href="{% url 'post-detail' post.blog.slug post.pk %}">
                                    <img src="{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}">
                                </a>
                            {% endif %}
                            <div class="post-detail">
                                {{ post.summary }}
                            </div>
                        </div>
                        <div class="clear"></div>
                        <hr>
                        <div class="post-footer">
                            <div>
                                <span class="footer-label">Posted by: </span><span class="post-author">{{ post.author.first_name }} {{ post.author.last_name }}</span>
                            </div>
                            <span class="post-pub-date">{{ post.pub_date|date:"d/m/Y H:i" }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% include "pagination.html" with items=posts %}

    {% else %}
        <div class="card">
            <div class="card-body">
                <h5>No posts yet...</h5>
            </div>
        </div>
    {% endif %}

{% endblock %}