{% extends "base.html" %}

{% block main_title %} {{ title }} {% endblock %}

{% block main_body %}
    <hr xmlns="http://www.w3.org/1999/html">

    {% if categories %}
        <form class="form-inline">
            <div class="form-group row">
                <label class="col-3 col-form-label" for="categories">Category</label>
                <div class="col-7">
                    <select name="categories" id="select-categories" class="form-control">
                        <option value="0" {% if cat_selected is None %} selected {% endif %}>ALL</option>
                        {% for category in categories %}
                            <option value="{{ category.pk }}"
                                {% if category.pk == cat_selected %} selected {% endif %}
                            >{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </div>
        </form>
        <hr>
    {% endif %}

    {% if posts|length > 0 %}

        <div>
            {% for post in posts %}
                <div class="post card">
                    <div class="card-body">
                        <h5><a href="{% url 'post-detail' post.blog.slug post.pk %}" class="post">
                            <strong>{{ post.title }}</strong>
                        </a></h5>
                        <hr>
                        <div class="post-content-wrapper list">
                            {%  if post.image %}
                                <a href="{% url 'post-detail' post.blog.slug post.pk %}">
                                    <img src="{{ post.image.url }}" alt="{{ post.title }}" title="{{ post.title }}">
                                </a>
                            {% endif %}
                            <div class="post-detail">
                                {{ post.summary }}
                            </div>
                        </div>
                        <div class="clear"></div>
                        <hr>
                        <div class="post-footer">
                            <span class="post-author">Posted by {{ post.author.first_name }} {{ post.author.last_name }}</span>
                            <br>
                            <span class="post-pub-date">{{ post.pub_date|date:"d/m/Y H:i" }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item {% if not posts.has_previous %} disabled {% endif %}">
                    {% if posts.has_previous %}
                        <a class="page-link" href="?page=1"> << </a>
                    {% else %}
                        <span class="page-link"> << </span>
                    {% endif %}
                </li>
                <li class="page-item {% if not posts.has_previous %} disabled {% endif %}">
                    {% if posts.has_previous %}
                        <a class="page-link" href="?page={{ posts.previous_page_number }}"> < </a>
                    {% else %}
                        <span class="page-link"> < </span>
                    {% endif %}
                </li>
                <li class="page-item disabled">
                    <span class="page-link">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                    </span>
                </li>
                <li class="page-item {% if not posts.has_next %} disabled {% endif %}">
                    {% if posts.has_next %}
                        <a class="page-link" href="?page={{ posts.next_page_number }}"> > </a>
                    {% else %}
                        <span class="page-link"> > </span>
                    {% endif %}
                </li>
                <li class="page-item {% if not posts.has_next %} disabled {% endif %}">
                    <a class="page-link" href="?page={{ posts.paginator.num_pages }}"> >> </a>
                </li>
            </ul>
        </nav>

    {% else %}

        <h4>No posts yet...</h4>

    {% endif %}

{% endblock %}