{% extends "base.html" %}

{% block head_title %} {{ post.title }} {% endblock %}

{% block main_title %} {{ post.title }} {% endblock %}

{% block main_body %}
    <p>{{ post.summary}}</p>
    {% if post.image %}
        <div>
            <img src="{{ post.image.url }}" alt="{{ post.title }}" title="{{ post.title }}">
        </div>
    {% endif %}
    <p>
        <strong>Description: {{ post.description }}</strong>
        <br>
        <strong>Pub date: {{ post.pub_date|date:"d/m/Y H:i" }}</strong>
        <br>
        <strong>Author: {{ post.author.first_name }} {{ post.author.last_name }}</strong>
    </p>
{% endblock %}