{% extends "base.html" %}

{% block head_title %} {{ post.title }} {% endblock %}

{% block main_title %} {{ post.title }} {% endblock %}

{% block main_body %}
    <div class="post card">
        <div class="card-body">
            <div class="post-content-wrapper detail">
                {%  if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" title="{{ post.title }}">
                {% endif %}
                <div class="post-detail">
                    <em>{{ post.summary }}</em>
                </div>
            </div>
            <div class="clear"></div>
            <hr>
            <div class=post-body">
                {{ post.body }}
            </div>
            <hr>
            <div class="post-footer">
                <span class="post-author">Posted by {{ post.author.first_name }} {{ post.author.last_name }}</span>
                <div class="post-categories">
                    <span>Categories:</span>
                    {% for category in post.categories.all %}
                        <span class="post-category">{{ category.name }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
